@tailwind base;
@tailwind components;
@tailwind utilities;
    
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 
:root {
  background: #F5FAFF
  ;
 
}  
body, p {
  line-height: normal !important;
  font-family: var(--font-Raleway-Regular);
}
.container { 
  max-width: 1280px; 
}
h1, h2, h3, h4, h5, h6 { 
  color: #151D48;
  font-family: var(--font-Raleway-Bold); 
} 
.main-heading {
  color: #3C3F88;
  font-size: 30px;
  line-height: normal;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #929292;  
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #929292;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #929292;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #929292;
}
.login-button {
  color: #FFF;
  font-size: 20px;
  line-height: normal; 
  border-radius: 50px;
  background: #5D5FEF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 30px;
  height: 50px;
}
.button {
  line-height: normal;
  border-radius: 24px;
  background: #5D5FEF;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 7px 20px 7px 7px;
  grid-gap: 10px;
}
.section-title {
color: #353E6C;
font-size: 20px;
line-height: normal;
text-transform: capitalize;
margin: 0 0 20px;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: none;
}
button:disabled {
  background: #DBDBDB;
}

.sideNav {
  width: 100%;
  transition: width 0.3s ease;
  background-color: #ffffff;
  padding: 40px 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: 9;
}
.navList li a {
  display: flex;
  align-items: center;
  padding: 12px 20px 12px 20px;
  border-radius: 34px;
  grid-gap: 10px;
  color: #8B8E98;
  position: relative;
  font-size: 14px;
}
.navList li {
  margin-bottom: 5px;
}
.navList li.active a {
  color: #fff;
  background-color: #5D5FEF;
} 

th, td {
  padding: 10px;
  color: #1C2329;
  white-space: nowrap;
  font-size: 12px;
  border-radius: 10px;
  font-family: var(--font-RalewayMedium);
}
.table-common {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-common table {
  width: 100%;
  min-width: 800px;
  background: #ffffff;
}
.table-common table tbody tr:nth-child(even) {
  background: #F5FAFF;
  border-radius: 10px;
}
.table-common table thead tr th {
  color: #7F7F8A;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
  padding: 10px 10px 10px;
}
.overflo-custom::-webkit-scrollbar-track {
  background-color: #ffffff;
  height: 6px;
}

.overflo-custom::-webkit-scrollbar {
  width: 6px;
  background-color: #283c63;
  height: 6px;
}

.overflo-custom::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #283c6355;
  height: 6px;
} 
.card-bg {
  background-image: url(../assets/images/card-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;  
}
.fomm-wrapper label {
  color: #707070;
  font-size: 14px;
  line-height: normal;
  margin: 0 0 5px;
}
textarea {
  min-height: 105px;
}
.fomm-wrapper input, .fomm-wrapper select, .fomm-wrapper textarea {
  border-radius: 10px;
  border: 1px solid #CDE3F1;
  background: #FFF;
  width: 100%;
  padding: 12px 15px;
  color: #000000;
  font-size: 14px;
  height: 50px;
}

.progress-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  right: 0;
  height: 1px;
  width: calc(100% + 80px);
  background: #E9EDF3;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-radius: 6px;
  border: 1px solid #E9EDF3;
  color: #000 !important;
}
.css-1xgnz6y-MuiStack-root>.MuiTextField-root, .css-1xgnz6y-MuiStack-root>.MuiPickersTextField-root {
  min-width: 170px;
  max-width: 170px; 
}
.box-shadow{
box-shadow: 0px 0px 10px 0px rgba(22, 87, 255, 0.10);
}
.delete-modal-bg::before, .delete-modal-bg::after {
  content: "";
  position: absolute;
  width: 337px;
  height: 337px;
  border-radius: 100%;
  z-index: -1;
}
.delete-modal-bg::after {
  bottom: -149px;
  right: -106px;
  background: #FFF5FB;

}
.delete-modal-bg::before {
  top: -77px;
  left: -100px;
  background: #EEF3FF;
}
.project-card:nth-child(even) .progress-step svg circle{
  fill: #fff;
}
.project-card:nth-child(odd) .progress-step svg circle {
fill: #F3F6FF;
}
a.button-all {
  border-radius: 24px;
  background: #5D5FEF;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 7px 20px 7px 7px;
  grid-gap: 10px;
}
.table-common thead {
  border-bottom: dashed 1px #E4EEF4;
}
.modal-header h2 {
  color: #5D5FEF;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 50.4px */
  text-transform: capitalize;
}

.modal-header p {
  color: #7F7F8A;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  text-transform: capitalize;
}

.modal-header  h3 {
  color: #151d48;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  text-transform: capitalize;
}

.modal-header {
  border-bottom: dashed 1px #D7D7D7;
  padding-bottom: 20px;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 25px;
} 
.detail-card p {
  color: #7F7F8A;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.detail-card h3 {
  color: var(--Greys-Blue-Grey-900, #151D48);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
h2.section-projectName {
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 24px;
}
.sub-total-table tfoot tr td {
  border-radius: 0 !important;
  color: #fff !important;
  font-size: 16px;
  font-family: var(--font-Raleway-SemiBold);
  padding-top: 15px !important;
    border-bottom: 15px !important;
}
td{
  font-family: var(--font-Raleway-SemiBold) !important;
}
.dollar-symbol {
  position: absolute;
  bottom: 19px;
  left: 17px;
}
.fomm-wrapper input[type="number"] {
  padding-left: 28px;
}
.fomm-wrapper input::-webkit-input-placeholder, 
.fomm-wrapper textarea::-webkit-input-placeholder,
.fomm-wrapper select::-webkit-input-placeholder { 
  color: #000;
}
.fomm-wrapper input::-moz-placeholder,
.fomm-wrapper textarea::-moz-placeholder,
.fomm-wrapper select::-moz-placeholder { 
  color: #000;
}
.fomm-wrapper input:-ms-input-placeholder,
.fomm-wrapper textarea:-ms-input-placeholder,
.fomm-wrapper select:-ms-input-placeholder { 
  color: #000;
}
.fomm-wrapper input:-moz-placeholder,
.fomm-wrapper textarea:-moz-placeholder,
.fomm-wrapper select:-moz-placeholder { 
  color: #000;
}
@media (min-width: 989px) {
  .sub-total-table tr td, .sub-total-table tr th {
    padding: 10px 30px !important;
}
}
@media screen and (max-width: 1023px) {
  h2 {
    font-size: 26px;
    line-height: 38px;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .sideNav {
    position: fixed;
    left: -110%;
    transition: 0.3s ease;
    top: 60px;
    height: calc(100vh - 60px);
}
  .sideNav.collapsed ul.navList {
    width: 100%;
    margin: 15px auto 0;
  }
  .sideNav.collapsed {
    width: 250px;
    padding: 30px;
    left: 0;
}
  .nav-menu {
    gap: 20px;
  }
  .nav-menu-list {
    font-size: 15px;
    color: #283C63;
  }
  .nav_logo a.nav-logo-link svg {
    max-width: 190px; 
}
.nav-menu {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 18px;
  background: #d9e0e9;
  height: 100vh;
  overflow-y: auto;
  z-index: 2;
  flex-direction: column;
}
.nav-menu.open {
  display: block;
}
.menuToggleBtn {
  display: block;
}
.nav-menu .close-btn {
  position: absolute;
  right: 18px;
  top: 22px;
  font-size: 20px;
}
.main-heading {
  font-size: 24px;
}
}
@media (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
}
.section-title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 15px;
}
.table-common { 
  border-radius: 10px;
}
.table-common table thead tr th, th, td {
  font-size: 14px;
}
.css-1xgnz6y-MuiStack-root>.MuiTextField-root, .css-1xgnz6y-MuiStack-root>.MuiPickersTextField-root {
  min-width: 100%;
  max-width: 100%;
}
.progress-step  svg {
  width: 40px;
  height: 40px;
}
.modal-header p, .modal-header h3 {
  text-align: left;
}
.modal-header h2 {
  font-size: 26px;
}
.modal-header  h3 {
  font-size: 18px;
}
.grid-box {
  grid-template-columns: 1fr;
  margin-bottom: 0.75rem;
}
.detail-card p {
  margin-bottom: 5px;
} 
.detail-card h3 {
  font-size: 14px; 
}
}